<body>
  <section id="page">
        <header>
            <hgroup>
                <h1><%= link_to "Saroar Khandoker" , root_path %></h1>
                <h3>Junior Full Stack Web Developer</h3>
            </hgroup>
            <nav class="clear">
                <ul>
                    <li><%= link_to "Add Article", new_post_path %></li>
                    <li><%= link_to "FireHouse", "http://www.thefirehoseproject.com" %></li>
                    <li><%= link_to "iBlog", "http://community.thefirehoseproject.com" %></li>
                    <li><%= link_to "contact", "http://community.thefirehoseproject.com/contact/" %></li>
                </ul>
            </nav>
        </header>
        <% @posts.each do |post| %>
          <section id="articles">
            <div class="line"></div>
              <article id="article1">

                  <h2><%= post.title %></h2>

                  <div class="line"></div>

                  <div class="articleBody clear">

                    <figure>
                      <%= link_to "http://community.thefirehoseproject.com/2015/09/10/chris-mcintyre-shows-the-basics-pry-for-rails.html" do %>
                        <%= image_tag 'pry_logo.png',  width: 620, height: 340 %>
                      <% end %>
                      </figure>
                      <p><%= post.description %></p>
                      <p></p>
                  </div>
          </section>
        <% end %>

    <footer>
       <div class="line"></div>
       <p>Copyright 2015 - SaroarKhandoker</p>
    </footer>

</section>

</body>
</html>
